@font-face {
  font-family: "URWGeometric-Bold";
  src: url("./fonts/URWGeometric-Bold.woff") format("woff"); }

@font-face {
  font-family: "URWGeometric-Regular";
  src: url("./fonts/URWGeometric-Regular.woff") format("woff"); }

@font-face {
  font-family: "URWGeometric-SemiBold";
  src: url("./fonts/URWGeometric-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "URWGeometric-ExtraBold";
  src: url("./fonts/URWGeometric-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: "apercu-mono";
  src: url("./fonts/apercu-mono.woff") format("woff"); }

@font-face {
  font-family: "FrontageCondensed";
  src: url("./fonts/FrontageCondensed-3D.woff") format("woff"); }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a,
input,
.ImageStack {
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "URWGeometric-Bold";
  margin: 0 auto;
  width: 100%; }

::selection {
  background: #50e3c2; }

input,
button,
a {
  outline-color: transparent;
  outline-width: 0; }

:focus:not(:focus-visible) {
  outline-color: transparent; }

a {
  text-decoration: underline;
  color: inherit; }
