@import '../_variables.scss';

.Bubble {
    display: inline-block;
    position: relative;
}

.Bubble-img {
    display: block;
}

.Bubble-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateY(-10px);
    left: 10px;
    right: 10px;
    text-align: center;
    // background: rgba(255,255,255,.25);
    color: #fff;
    margin: 0;
    font-family: $custom-font-bold;
}