.Loading {
  position: relative;
  text-align: center;
  max-width: 90%;
  margin: 20px auto; }
  .Loading-headline, .Loading-image, .Loading-para {
    min-height: 1rem;
    background: #f1f1f1;
    margin: 10px auto; }
  .Loading-headline {
    max-width: 45%;
    height: 2rem; }
  .Loading-image {
    height: 300px; }
  .Loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
