.ImageStack {
  padding: 60px 0 40px 0;
  overflow: hidden; }

.ImageStack-wrap {
  position: relative;
  height: 300px; }

.ImageStack-image {
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: 3px 3px 10px 0px rgba(72, 72, 72, 0.38); }

.ImageStack-image-img {
  height: auto;
  width: auto;
  display: block; }

.ImageStack + .PlaceItem-content {
  margin-top: -10px; }
